 #custom-search-input {
  background: #e8e6e7 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 380px;
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #8e804a none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #e8e8e8 none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-block;
  min-width: 135px;
  padding: 10px 20px;
  position: relative;
  /*width: 100%;*/
  word-wrap: break-word;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #e8e8e8 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
.admin_chat .chat-body1 p {
  background: #8e804a none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  float: right;
  /* min-width: 135px; */
  padding: 10px 20px;
  max-width: 135 px !important;
  /*width: 100%;*/
  word-wrap: break-word;
}
.chat-body1 p::after, .chat-body1 p::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #e8e8e8 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}
.chat-body1 p::before {
  border-width: 6px;
  margin-top: -6px;
}
.chat-body1 p::after {
  border-width: 5px;
  margin-top: -5px;
}
.admin_chat .chat-body1 p::after, .admin_chat .chat-body1 p::before {
  border-left-color: #8e804a;
  border-right-color: transparent;
  left: 100%;
  right: auto;
}
.chat_time {
  color: #626262;
  display: block;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.admin_chat .chat_time {
  text-align: right;
}
.ChatProduct img {
  width: 100%;
}
.ChatProduct {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
}
.chat_sidebar a {
  color: #605e5d;
}
.ChatProduct h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 10px 10px 20px;
}
.ChatProduct h3 a{
    color: #605e5d;
}
.upload_btn {
  border: 1px solid #8e804a;
  border-radius: 100%;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  color: #8e804a;
  position: relative;
}
.upload_btn input {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.upload_btn:hover{
  color: #8e804a;
}
.chat_bottom .btn-success {
  background: #8e804a none repeat scroll 0 0;
  border-color: #8e804a;
}
.message_write textarea:focus {
  box-shadow: none;
  border-color: #8e804a;
}

.chat-userimg img {
  max-width: 50px;
  height: 50px;
  width: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  float: left;
}
.chat-userimg  span {
  display: inline-block;
  margin-left: 8px;
  margin-top: 12px;
}
.chatuserImg  img {
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.chatList {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 20px;
  width: 100%;
}
/*.chatList .chatuserImg > a, .chatList .chatPr > a {
  display: inline-block;
  width: 100%;
}*/
.chatuserImg .userInfo {
  margin-top: 0;
  padding-left: 25px;
}
.userInfo > h3 {
  font-size: 20px;
  line-height: normal;
  color: #8e804a;
  margin-bottom: 5px;
}
.userInfo > p {
  color: #626262;
}
.chatPr  img {
  max-width: 60px;
  width: 100%;
  height: 60px;
}
.chatPr p{
  color: #626262;
}
.chatPr {
  float: right;
  text-align: right;
}
.chat-body1 p img {
  height: 125px;
  max-width: 125px;
  width: 100%;
}
.my {
    width: 100%;
}